header {
    color: #f5f0e6;
    text-align: center;
    padding: 1rem;
}

.header h1 {
    font-family: "Cinzel Decorative", serif;
    font-size: 40px;
    font-weight: bold;
}

.header h2 {
    font-family: "Libre Caslon Display", serif;
    font-size: 24px;
    font-stretch: semi-expanded;
    font-weight: lighter;
    margin-left: 60px;
    margin-right: 60px;
}

body{
    background-color: #494949;
}

#grid-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem;
    width: 80%;
    max-width: 1200px;
    grid-gap: 40px;
    margin: auto;
}

.card{
    font-family: "Libre Caslon Display", serif;
    background-color: lightgoldenrodyellow;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 12px;
}

.card button:hover { background-color: #d3d3b7; opacity: 0.7; }

.card h1 {color: black; font-weight: bolder; text-align: center; font-size: 25px; padding: 10px}
.card h2 {color: black; font-weight: lighter; text-align: center; font-size: 16px; padding: 8px; margin: 5px}
.card p {color: black;  font-weight: lighter; text-align: center; font-size: 14px;padding: 8px; margin: 5px}
.card button{
    font-weight: bold;
    font-family: "Libre Caslon Display", serif;
    padding: 0.25rem 0.25rem;
    border: 0.5px solid black;
    background: transparent;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 12px;
}
#loadMoreBtn-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.loadMoreBtn {
    font-weight: bold;
    font-size: 24px;
    font-family: "Libre Caslon Display", serif;
    padding: 0.5rem 1.5rem;
    border: 0.5px solid black;
    background: lightgray;
    cursor: pointer;
    border-radius: 12px;
}

.details {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Responsive design */
@media (max-width: 768px) {
    #grid-cards {
        grid-template-columns: 1fr;
    }
    .card h1{
        font-size:25px;
    }

    .card h2{
        font-size:20px;
    }

    .card p{
        font-size:16px;
    }
}